@import '../../assets/css/variables.scss';

.backBtn {
  box-shadow: $shadow-light-mode;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding: 0 30px;
  margin-left: 3px;
  cursor:pointer;
  background: #FFF;
}

.info-window{
  display: block;
  height: 100vh;

  .info-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 500px) minmax(auto, 50%);
    grid-gap: 100px;
    margin-top: 50px;
    justify-content: flex-start;
    width: 100%;
  }
}

.country-single {
  display: flex;
  flex-direction: column;

  .flag-img{
    width: 100%;
  }

  &:not(.active-country) {
    box-shadow: $shadow-light-mode;
    border-radius: 5px;
    background: #FFF;
    overflow: hidden;
    cursor:pointer;
    transition: ease transform 300ms;

    &:hover {
      transform: scale(1.05);
    }

    .country-info {
      padding: 15px;
    }

    .infos p {
        margin: 5px 0;
        font-size: 14px;
    }
    
  }

  &.active-country {
    align-items: flex-start;
    margin-top: 50px;

    .flag-img{
      box-shadow: $shadow-light-mode;
    }

    .infos {
      display: grid;
      grid-template-rows: repeat(5, auto);
      grid-template-columns: repeat(2, auto);
      grid-gap: 0 30px;
      grid-auto-flow: column;
      margin: 30px 0;

      p {
        margin: 10px 0;
        font-size: 16px;
      }
    }

    .border-countries {
      display: flex;
      
      strong {
        margin-right: 10px;
        flex-shrink: 0;
      }

      button {
        box-shadow: $shadow-light-mode;
        background: #FFF;
        margin:   5px;
        padding: 5px 10px;
        cursor:pointer;
      }

    }
  }

}

