@import '../../assets/css/variables.scss';

.search-filter{
  padding: $site-padding;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#country-search {
  width: 450px;
  height: 55px;
  padding: 0 10px 0 50px;
  box-sizing: border-box;
  border: none;
  box-shadow: $shadow-light-mode;
  border-radius:$border-radius;
}

.search-region {
  width: 200px;
  height: 55px;
  display: block;
  box-shadow: $shadow-light-mode;
  overflow: hidden;
  position: relative;
  border-radius:$border-radius;
  cursor:pointer;
  background: #FFF;

  
.region-dropdown-title {
  padding: 0 30px;
  height: 55px;
  display: block;
  line-height: 55px;
}


  &.active {
    overflow: inherit;
  }

  .select-region {
    position: absolute;
    top: 43px;
    width: 100%;
    padding: 0 30px;
    background: #FFF;
    box-shadow: $shadow-light-mode;
    border-radius: $border-radius
  }
  
  .select-region li{
    margin: 10px 0
  }
  
}