@import './variables.scss';

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800");

body, html {
  margin:0;
  padding: 0;
  width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

h1, h2 {
  margin: inherit;
}

button{
  background: none;
  border:none;
  cursor: pointer;
}

ul{
 list-style: none;
 padding: 0;
}

.dark-mode{
  color: $white;
  background: $very-dark-blue;
}

.light-mode{
  color: $very-dark-blue;
  background: $white;
}

.countries-wrapper {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 50px));
  grid-gap: 25px;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.country-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.country-single img{
  width: 100%;
}