@import './variables.scss';

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800");

body, html {
  margin:0;
  padding: 0;
  width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

h1, h2 {
  margin: inherit;
}

button{
  background: none;
  border:none;
  cursor: pointer;
}

ul{
 list-style: none;
 padding: 0;
}

.dark-mode{
  color: $white;
  background: $very-dark-blue;
}

.light-mode{
  color: $very-dark-blue;
  background: $very-light-gray;
}

.dark-mode, .light-mode{
  height: 100vh;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.countries-wrapper {
  padding: $site-padding;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 50px));
  grid-gap: 80px 0;
  justify-content: space-between;
  margin: 0 auto;
}