@import '../../assets/css/variables.scss';

.dark-mode {
  .site-header{
    box-shadow: 0 2px 6px #1d2227;
  }
}

.site-header {  
  box-shadow: 0 2px 6px #CCC;
  background: white;
  
  .wrapper{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $site-padding;
  }

}

.site-title {
  margin: 0;
}

.change-mode{
  color: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}